**/alt*.PNG
**/*.pptx
**/*.docx
**/Research
**/UsefulLogos
*/venv
**/.idea
EmojiTranslator/user_profiles/*
EmojiTranslator/test/*/*.pickle
**/__pycache__/*
**/twitter_emoji_data/*
**/text_mining_models/*
