**/alt*.PNG
**/*.pptx
**/*.docx
**/Research
**/UsefulLogos
*/venv
**/.idea
EmojiTranslator/__pycache__/*
EmojiTranslator/user_profiles/*
**/__pycache__/*
EmojiTranslator/emoji_translator_gui/__pycache__/*